@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.row {
  row-gap: 20px;
}

.btn-minimal {
  color: black;
  font-size: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.295);
}

.btn-minimal:active {
  transform: scale(0.9);
}

.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 3px;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.text-custom {
  font-size: 13px;
  letter-spacing: 2px;
}
@media screen and (max-width: 992px) {
  .sedgwick-ave-display-regular {
    font-size: 60px;
  }

  .indie-flower-regular {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .sedgwick-ave-display-regular {
    font-size: 50px;
  }

  .indie-flower-regular {
    font-size: 25px;
  }

  .container {
    width: 55rem;
  }
}

@media screen and (max-width: 576px) {
  .sedgwick-ave-display-regular {
    font-size: 40px;
  }

  .indie-flower-regular {
    font-size: 15px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  height: 80px;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 5px;
  border-top: 1px solid #bbb6aa;
  border-bottom: 4px solid #bbb6aa;
  background: linear-gradient(#000000 0 0) bottom no-repeat content-box, #e4e0d7;
  mix-blend-mode: darken;
  animation: l1 1.5s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: -18px calc(50% - 2px) 8px;
  background: #000000;
  transform-origin: bottom;
  transform: rotate(8deg);
}
@keyframes l1 {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 5%;
  }
}
